body {
    margin: 0;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-size: 18pt;
}

h1 {
    margin: 0;
    padding: 16px;
    font-size: 150%;
    text-align: center;
}

p {
    text-align: center;
}
